#eventsDiv{
    height:100%;
    width:100%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}
.event {
    float:left;
    width:50%;
}
.container {
    position: relative;
    height:120px;
    width:100%; 
}
#delButton {
    float: right;
    border-radius: 5px;
    padding:10px 20px;
    background-color: red;
    float:right;
    color:white;
    font-size: 20px;
   
}
#buttondiv{
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display:table-cell;
    height:100%;
    width:100%;
    margin-left:50%;
    position: relative;
}
.img {
    max-width: 40px;
    text-align: center;
    border-color: black;
    border-width: 10px;
    height:100%;
    width:70%;
    display: inline-block;
}
.row {
    height: 100%;
}